#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir
	@# Add here commands to configure the package.

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	# we need depcomp in order to be able to build
	for i in / 1-4/ 1-5/ 1-6/ 1-7/; do                                  \
	   if [ ! "$$found" = "1" -a -e /usr/share/automake$${i}depcomp ] ; \
	    then                                                            \
	     ln -s /usr/share/automake$${i}depcomp depcomp                ; \
		 found=1                                                      ; \
	   fi                                                             ; \
	done

	@# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	@# dh_testroot
	rm -f build-stamp configure-stamp

	@# Add here commands to clean up after the build process.
	$(MAKE) clean
	-rm -f core

	# remove symlinks
	-rm install-sh mkinstalldirs missing depcomp

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	@# Add here commands to install the package into debian/mailsync.
	install -o root -g root -m 0755 \
	        src/mailsync $(CURDIR)/debian/mailsync/usr/bin


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs -XCVS
	dh_installman doc/mailsync.1
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
